body {
    background-color:rgba(138, 119, 115, 0.014); 
    color: rgb(67, 114, 110);
}
.header{
    font-size: 60px; 
    padding: 10px;
}
.carousel-inner{
    height: 300px;
}

#close, .modal-header{
    color: black;
}
#username, #article{
    color: black;
    margin-bottom: 10px;
}
#clickBtn{
    font-size: 30px;
    margin: 50px 500px;
}